{{> navbar}}
<div class="container mt-3">
  <h1>Artista: {{artist}}</h1>
  <p>Album: {{album}}</p>
  <p>Año Publicacion: {{year_album}}</p>
  <div class="mt-3 d-flex gap-2">
    <a href="/catalog/{{id}}/update">
      <button class="btn btn-primary btn-sm">Editar</button>
    </a>
    <form action="/catalog/{{id}}/delete" method="POST">
      <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
    </form>
  </div>
  {{> backhome}}
</div>