{{> navbar}}
<div class="container mt-3">
  <h1>
    {{#if id}}
      Actualizando el disco "{{album}}" de "{{artist}}"" ({{id}})
    {{else}}
      Ingresar nuevo disco
    {{/if}}
  </h1>
  <!--
    Este formulario se usará tanto para edición como creación, este if nos dice que si viene un id, entonces será un update, si no, será un create.
    Para el action, si viene un id será un post a /articles/:id/update, si no, será un post a /articles/create.
  -->
  <form action="/catalog/{{#if id}}{{id}}/update{{else}}create{{/if}}" method="POST">
    <div class="mb-3">
      <label for="artist" class="form-label">Artista</label>
      <input type="text" class="form-control" name="artist" aria-describedby="titleHelp" required="true" value="{{artist}}">
      <div id="titleHelp" class="form-text">Ingresa el nombre del artista</div>
    </div>
    <div class="mb-3">
      <label for="album" class="form-label">Album</label>
      <textarea class="form-control" name="album" rows="3" aria-describedby="contentHelp">{{album}}</textarea>
      <div id="contentHelp" class="form-text">Ingresa el nombre del album</div>
    </div>
    <div class="mb-3">
      <label for="year_album" class="form-label">Año Publicacion</label>
      <textarea class="form-control" name="year_album" rows="3" aria-describedby="contentHelp">{{year_album}}</textarea>
      <div id="contentHelp" class="form-text">Ingresa el año de publicacion</div>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </form>
</div>